name: Build and deploy JAR app to Azure Web App

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java version
        run: |
          echo "java install~~"
      
      - name: Manual Workflow Approval
        uses: trstringer/manual-approval@v1.11.0
        with:
          approvers: jeongmikim2
          minimum-approvals: 1
          issue-title: "Deploying v1.3.5 to prod from staging"
          issue-body: "Please approve or deny the deployment of version v1.3.5."

      # - uses: trstringer/manual-approval@v1
      #   with:
      #     secret: ${{ github.TOKEN }}
      #     approvers: jeongmikim2
      #     minimum-approvals: 1
      #     issue-title: "Deploying v1.3.5 to prod from staging"
      #     issue-body: "Please approve or deny the deployment of version v1.3.5."
      #     exclude-workflow-initiator-as-approver: false

      - name: Set up Java version
        run: |
          echo "approval~"
